<html>
<head>
<title></title>

<link rel="stylesheet" href="../public/bootstrap/css/bootstrap.css"/>
<link rel="stylesheet" href="../public/stylesheets/Authentication.css"/>

<script href="../public/bootstrap/js/bootstrap.js"></script>
<script href="../public/bootstrap/js/jquery-1.7.js"></script>
</head>
<body>
<div id="mainWrapper" class="clearfix">
	<div id="body">
		<div id="header">
			<div id="loginDivision">
			<form class="form-inline">
				<input class="input-medium" type="text" id="email" name="email" placeholder="E-Mail">
				<input class="input-medium" type="password"  id="password" name="password" placeholder="Password">
				<a class="btn btn-success">Login</a>
			</form>
			</div>
		</div>
		<img src="../public/images/logo.png"/>
		<div id="searchDivision">
		<input type="text" class="input-large" name="search" id="search" placeholder="Suche"><a class="btn btn-success"><i class="icon-search" ></i></a>
		</div>
	</div>
</div>
</body>
</html>